// .fil0 {
//     fill: red
// }

.page {
    padding: 40px 15px;

    h1 {
        position: relative;
        z-index: 2;
        color: var(--secondary-bg-color);
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        padding: 24px 0 0;
        line-height: 1;
        background: var(--main-color-transparent);

        @media screen and (min-width: 1024px) {
            margin: 96px 0 0;
        }
    }

    p {
        margin: 0;
        position: relative;
        z-index: 2;
        letter-spacing: 1px;
        line-height: 1.7;
        font-size: 14px;
        font-style: normal;
        text-align: center;
        width: 100%;
        // max-width: 45ch;
        box-sizing: border-box;
        padding: 10px 40px;
        color: var(--secondary-bg-color);
        background: var(--main-color-transparent);
    }

    .work-hours {
        position: relative;
        z-index: 2;
        background: var(--main-color-transparent);
        margin: 96px 0;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 32px;
            padding: 48px 0 0;
            color: var(--secondary-bg-color);

            .icon {
                width: 150px;
                height: 150px;

                svg {
                    path {
                        fill: var(--secondary-color);
                    }
                }
            }
        }

        &__days {
            padding: 48px 0 48px 0;
            margin: 0 auto;
            list-style: none;
            display: grid;
            grid-auto-rows: 1fr;
            gap: 20px 0;
            max-width: 300px;
            color: var(--secondary-bg-color);

            li {
                display: grid;
                grid-template-columns: 1fr 145px;
                grid-gap: 0 10px;
                gap: 0 10px;
                font-size: 24px;
                line-height: 1.3;
                font-weight: 100;
                border-bottom: 1px dashed var(--main-color);

                span:first-of-type {
                    text-align: right;
                    text-transform: capitalize;
                }
            }
        }
    }

    &__image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-position: center;
        background-size: cover;
    }
}