@import '../../styles/_variables.scss';

.dish-group {
  // padding-top: 80px;
  // padding-bottom: 40px;
  // border-bottom: 3px solid #00d1e2;

  &__container {
    max-width: $maxWidth;
    margin: 0 auto;
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 32px;
    color: #00d1e2;
    // padding: 0 10px;

    @media #{$mediaTablet} {
      font-size: 48px;
    }
  }
}

.dish-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 15px;
  color: #454839;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  // padding: 0 10px;

  // padding: 10px;
  // border: 3px solid #454839;

  &__image {
    grid-column: 1 / span 2;
    grid-row: 1;

    img {
      width: 100%;
      // object-fit: cover;
      object-fit: contain;
    }
  }

  &__title {
    grid-column: 1;
    grid-row: 2;
    text-transform: uppercase;
    font-size: 24px;
  }

  &__quantity {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
  }

  &__price {
    grid-column: 2;
    grid-row: 4;
    color: #0099aa;
  }

  &__description {
    grid-column: 1 / span 2;
    grid-row: 3;
    letter-spacing: 1px;
  }
}