.dish-group {
    &--simple {
        h2 {
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    }

    &__grid {
        // display: flex;
        // align-items: center;
        padding: 20px;
        background-color: white;
        border-radius: 5px;

        span {
            display: block !important;
        }

        img {
            max-width: 100%;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }

        p {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed var(--secondary-font-color);
            padding: 15px 0 5px;
            margin: 0;
        }
    }
}