@import '../../styles/_variables.scss';

.restaurant-display {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 10px;

    .go-back {
        text-align: right;
        padding-bottom: 20px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(77, 77, 77);
        }
    }
}

.menu {
    // padding: 0 10px;

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 35px;
    }

    &_filters {
        grid-column: 1;
    }

    &_dishes {
        grid-column: 2 / span 3;
    }
}