@import '../../styles/_variables.scss';

.restaurant-display {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 50px 10px;
    width: 100%;
    box-sizing: border-box;

    .go-back {
        text-align: right;
        padding-bottom: 20px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--secondary-font-color)
        }
    }
}

.menu {
    // padding: 0 10px;

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 35px;
    }

    &_filters {
        grid-column: 1;

        @media screen and (max-width: 999px) {
            display: none;
        }
    }

    &_dishes {
        grid-column: 2 / span 3;
    }
}