@import '../../styles/_variables.scss';

.navigation {
  position: sticky;
  top: 25px;
  background: var(--main-color);
  z-index: 2;

  nav {
    max-width: $maxWidth;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // text-shadow: 1px 1px 1px black;

    .logo {
      display: flex;

      img {
        padding: 0 15px;
      }

      a {
        display: flex;
        align-items: center;
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--secondary-bg-color);
      padding-right: 20px;
      font-size: 24px;
      letter-spacing: 3px;
      font-weight: 100;
      transition: 0.25s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

.social {

  &__wrapper {
    display: flex;
    align-items: center;

    a {
      &:hover {
        svg {
          path {
            fill: var(--secondary-color);
          }
        }
      }
    }

    svg {
      grid-row: 1;
      width: 35px;
      height: 35px;

      path {
        fill: rgba(255, 255, 255, 1);
        transition: 0.25s ease-in-out;
      }
    }
  }

  &__city {
    padding-right: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 30px !important;
    font-weight: 900 !important;
  }

  // display: grid;
  // grid-auto-columns: 1fr;
  // column-gap: 10px;

  // position: absolute;
  // // bottom: 25px;
  // top: 25px;
  // right: 25px;

  a {
    height: 50px;
    display: flex;
    align-items: center;
  }


}