@import './styles/_reset.scss';
@import './styles/_variables.scss';
// @import './styles/_base.scss';

html,
body {
  height: 100vh;
}

.container {
  max-width: $maxWidth;
  padding: 15px;
  margin: 0 auto;
}

.hero {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(0, 0, 0, 0.4);
  color: white;
  // padding: 200px 0;
  position: relative;
  overflow: hidden;
  // min-height: calc(100vh - 75px);
  min-height: 45vh;
  // max-height: 600px;
  z-index: 1;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.pusher {
  height: 200vh;
}

.blinder {
  background-color: rgb(247, 251, 251);
  height: 25px;
  position: sticky;
  top: 0;
  z-index: 2;
}