.dish-group-roll {
    &__wrapper {
        display: grid;
        // this could change on wider screens
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 025px;

        @media screen and (min-width: 960px) {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }

        img {
            object-fit: cover;
        }
    }
}