.restaurant-picker {
    &__title {
        text-align: center;
        text-transform: uppercase;
        padding: 0 30px 30px;
        color: #7DCC21;
        font-size: 32px;
    }

    &__wrapper {
        height: 100%;
        margin: auto;
        padding-top: 10px;

        @media screen and (min-width: 1000px) {
            padding: 50px 25px 75px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

            @media screen and (min-width: 1000px) {
                // margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(3, 400px);
                gap: 20px;
            }

            li {
                @media screen and (max-width: 999px) {
                    padding-bottom: 20px;
                }

                // &:hover {
                //     box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 1px rgba(255, 255, 255, 0.6), 0 0 7px rgba(82, 164, 82, 0.5);
                // }

                // &.active {
                //     box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 1px rgba(255, 255, 255, 0.6), 0 0 7px rgba(82, 164, 82, 0.5);
                // }
            }
        }
    }
}